controlnetQRPatternQR_v10.safetensors filter=lfs diff=lfs merge=lfs -text
controlnetQRPatternQR_v2Sd15.safetensors filter=lfs diff=lfs merge=lfs -text
controlnetQRPatternQR_v2Sd15.yaml filter=lfs diff=lfs merge=lfs -text
